@model IEnumerable<Fixture>

@{
    ViewData["Title"] = "Fixtures";
}

<h2>All Reservations</h2>
<a asp-action="AddReservation" class="btn btn-sm btn-primary">Add Reservation</a>
<a asp-action="GetReservation" class="btn btn-sm btn-secondary">Get Reservation</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Gameweek</th>
            <th>Kickoff Time</th>
            <th>Minutes Played</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.id</td>
                <td>@x.Event</td>
                <td>@x.kickoff_time</td>
                <td>@x.minutes</td>
            </tr>
        }
    </tbody>
</table>
