
@{
    ViewData["Title"] = "Fantasy";
}

<div class="text-center">
    <h1 class="display-5">Fantasy</h1>
</div>

<a asp-controller="Fantasy" asp-action="LeagueStandings" asp-route-id="10511">Zaadschieters</a>