@model FantasyPremierLeague.ViewModels.TeamListViewModel

@{
    ViewData["Title"] = "Teams";
}

<h2>All Teams</h2>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.teams[0].name)</th>
            <th>Next 5 Opponents (FDR)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.teams)
        {
            <tr>
                <th scope="col">@(Model.teams.IndexOf(team) + 1)</th>
                <td><a asp-action="Details" asp-route-id="@team.id">@team.name</a></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
